{{/* feature flags */}}
{{- $workmode := false -}}{{/* enable work configuration */}}
{{- $wsl := false -}}{{/* enable wsl specific features */}}
{{- $opmode := "account" -}}{{/* 1password mode: "account" for desktop app, "service" for service token */}}
{{- "" -}}

{{- $installEnv := "home" }}{{/* determine which programming languages (and versions) to sync with asdf */}}

{{- if eq .chezmoi.os "linux" -}}
{{-   if eq .chezmoi.hostname "homeostasis" -}}
{{-     $workmode = true -}}
{{-     $installEnv  = "work" -}}
{{-   end -}}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{-     $wsl = true -}}
{{-   end -}}
{{- end -}}
{{- if eq .chezmoi.os "android" -}}
{{-   $opmode = "service" -}}
{{- end -}}

[data]
    installenv  = "{{ $installEnv }}"
    workmode = {{ $workmode }}
    wsl      = {{ $wsl }}
    opmode   = "{{ $opmode }}"

[onepassword]
    mode = "{{ $opmode }}"
