{{/* feature flags */}}
{{- $workmode := false -}}{{/* enable work configuration */}}
{{- $wsl := false -}}{{/* enable wsl specific features */}}
{{- "" -}}

{{- $langenv := "home" }}{{/* determine which programming languages (and versions) to sync with asdf */}}

{{- if eq .chezmoi.os "darwin" -}}
{{-   if contains "Mac16,1" (output "sysctl" "-n" "hw.model" | trim) -}}
{{-     $workmode = true -}}
{{-     $langenv  = "work" -}}
{{-   end -}}
{{- end -}}

{{- if eq .chezmoi.os "linux" -}}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{-     $wsl = true -}}
{{-   end -}}
{{- end -}}

[data]
    langenv  = "{{ $langenv }}"
    workmode = {{ $workmode }}
    wsl      = {{ $wsl }}

[onepassword]
    command = "{{ if $wsl }}~/.wslshims/op{{ else }}op{{ end }}"
