.DS_Store

# Generated chezmoi files
dot_ssh/authorized_keys.tmpl
dot_zshrc.tmpl
docs/*.tmpl

# Scripts stored as markdown
run_once_01_packages-darwin.sh.tmpl

node_modules
.vitepress/cache
.vitepress/dist

bin

dot_claude/*.md
