.DS_Store
mopidy/.config/mopidy/
newsboat/.newsboat/cache*
newsboat/.newsboat/history*
nvim/.config/configstore/*
doom/.doom.d/config.el
fish/.config/fish/config.fish
fish/.config/fish/completions
fish/.config/fish/fishfile
fish/.config/fish/fish_variables
fish/.config/fish/functions/fisher.fish
fish/.config/fish/fishd.*
nvim/.config/nvim/.netrwhist
output
