[general]
ui = ttyui
accounts = fastmail
fsync = False
maxsyncaccounts = 1
pythonfile = ~/.offlineimap.py

[Account fastmail]
localrepository = fastmail-local
remoterepository = fastmail-remote
postsynchook = notmuch new

[Repository fastmail-local]
type = Maildir
localfolders = ~/Mail/marcus-utf9k-net

[Repository fastmail-remote]
type = IMAP
remotehost = imap.fastmail.com
remoteport = 993
remoteuser = {{ .email }}
remotepasseval = get_pass()
ssl = yes
sslcacertfile = /etc/ssl/certs/ca-certificates.crt
maxconnections = 3
folderfilter = lambda folder: folder in ['Archive', 'Drafts', 'INBOX', 'Sent', 'Spam', 'Trash']
