[user]
	email = {{ .email }}
	name = {{ .name }}
	signingkey = 15DC6AC2068B5E35827845D20066202F5187A0C8
	useConfigOnly = true
[push]
	autoSetupRemote = true
[pull]
	rebase = false
[commit]
	gpgSign = true
[status]
	showStash = true
[checkout]
	workers = 0
[core]
	excludesFile = "~/.gitignore"
	hooksPath = "~/.githooks"
{{- if (eq .chezmoi.os "darwin") }}
[gpg]
	program = /usr/local/MacGPG2/bin/gpg2
{{- end }}
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[init]
	defaultBranch = "main"
{{ $workLite := (eq (env "WORK_MODE") "1") }}
{{- if (or .workmode $workLite) }}
[includeIf "gitdir:~/Code/work/"]
	path = ~/.work.gitconfig
{{- end }}
