[general]
ui = blinkenlights
accounts = fastmail
fsync = False
maxsyncaccounts = 1
pythonfile = $HOME/.offlineimap.py

[Account fastmail]
localrepository = local
remoterepository = remote
postsynchook = notmuch new

[Repository local]
type = Maildir
localfolders = $HOME/Mail

[Repository remote]
type = IMAP
readonly = true
remotehost = imap.fastmail.com
remoteuser = {{ .email }}
remotepasseval = get_pass()
ssl = yes
sslcacertfile = /usr/local/etc/openssl/cert.pem
maxconnections = 1
folderfilter = lambda folder: folder in ['Archive', 'Drafts', 'INBOX', 'Sent', 'Spam', 'Trash']
