[user]
  email = {{ .email }}
  name = {{ .name }}
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBYJRc1rj7YqWxo3dDALqnjPwCY9askwTo1gq1xO/QhB
  useConfigOnly = true
[push]
  default = current
[pull]
  rebase = false
[commit]
  gpgsign = true
  verbose = true
[merge]
  conflictstyle = zdiff3
[diff]
  algorithm = histogram
[rebase]
  autostash = true
[status]
  showStash = true
[checkout]
  workers = 0
[core]
  excludesFile = "~/.gitignore"
  hooksPath = "~/.githooks"
[gpg]
  format = ssh
[gpg "ssh"]
{{- if (eq .chezmoi.os "darwin") }}
  program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{- else }}
  program = "/opt/1Password/op-ssh-sign"
{{- end }}
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[init]
  defaultBranch = "main"
{{- $workLite := (eq (env "WORK_MODE") "1") }}
{{- if (or .workmode $workLite) }}
[includeIf "gitdir:~/Code/work/"]
  path = ~/.work.gitconfig
{{- end }}