{{- if (eq .chezmoi.os "linux") -}}
{{- if eq .chezmoi.osRelease.idLike "arch" -}}
#!/usr/bin/env bash

set -euo pipefail

sudo pacman -Syu

sudo pacman -S --needed - <<EOF
atuin
bash
ca-certificates
chezmoi
curl
ffmpeg
fzf
gcc
git
gnupg
grep
gtk3
gzip
iproute2
neofetch
openssl
readline
tcpdump
vlc
zlib
zsh
EOF

echo "[ ~ ] linux packages have been installed"

{{ end -}}
{{ end -}}
