{{- if (eq .chezmoi.os "linux") -}}
{{- if eq .chezmoi.osRelease.idLike "arch" -}}
#!/usr/bin/env bash

set -euo pipefail

if [[ -x "$HOME/.local/bin/colorshell" ]]; then
    echo "[ ~ ] colorshell already installed"
    exit 0
fi

REPO="$HOME/.cache/colorshell-installer/repo"

if [[ -d "$REPO/.git" ]]; then
    echo "[ ~ ] Updating colorshell repo..."
    git -C "$REPO" fetch && git -C "$REPO" pull --rebase
else
    echo "[ ~ ] Cloning colorshell..."
    rm -rf "$REPO"
    mkdir -p "$(dirname "$REPO")"
    git clone https://github.com/retrozinndev/colorshell.git "$REPO"
fi

echo "[ ~ ] Installing colorshell..."
bash "$REPO/install.sh" -y

echo "[ ~ ] colorshell installed"

{{ end -}}
{{ end -}}
