{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash

set -euo pipefail

{{ $personalApps := list
  "/Applications/Firefox Developer Edition.app"
  "/System/Applications/Calendar.app"
  "/Applications/TickTick.app"
  "/Applications/Ghostty.app"
  "/Applications/Spotify.app"
  "/Applications/Plexamp.app"
  "/Applications/Obsidian.app"
  "/Applications/NewsBlur.app"
  "/Applications/Beeper Desktop.app"
  "/Applications/Eagle.app"
}}

{{ $workApps := list
  "/Applications/Firefox Developer Edition.app"
  "/System/Applications/Calendar.app"
  "/Applications/TickTick.app"
  "/Applications/Ghostty.app"
  "/Applications/Spotify.app"
  "/Applications/Plexamp.app"
  "/Applications/Obsidian.app"
  "/Applications/NewsBlur.app"
  "/Applications/Beeper Desktop.app"
  "/Applications/Slack.app"
}}

{{ $apps := $personalApps }}
{{ if .workmode }}{{ $apps = $workApps }}{{ end }}

defaults delete com.apple.dock persistent-apps

{{ range ($apps | uniq) -}}
defaults write com.apple.dock persistent-apps -array-add "<dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>{{ . }}</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>"
{{ end -}}

defaults delete com.apple.dock persistent-others

killall Dock >/dev/null 2>&1 || true && echo "~ macos dock has been configured"

{{ end -}}
