{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash

set -eufo pipefail


{{ $apps := list
  "/Applications/Brave Browser.app"
  "/System/Applications/Calendar.app"
  "/Applications/TickTick.app"
  "/Applications/iTerm.app"
  "/Applications/Spotify.app"
  "/Applications/Plexamp.app"
  "/Applications/Obsidian.app"
  "/Applications/Reeder.localized/Reeder.app"
  "/Applications/Beeper.app"
  "/Applications/Eagle.app"
}}


{{ if .workmode }}{{ $apps = append $apps "/Applications/Google Chrome.app" }}{{ end }}
{{ if .workmode }}{{ $apps = append $apps "/Applications/Slack.app" }}{{ end }}

defaults delete com.apple.dock persistent-apps

{{ range ($apps | uniq) -}}
defaults write com.apple.dock persistent-apps -array-add "<dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>{{ . }}</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>"
{{ end -}}

defaults delete com.apple.dock persistent-others

killall Dock >/dev/null 2>&1 || true && echo "~ macos dock has been configured"

{{ end -}}
