{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/cask-fonts"

# cli tools
brew "azure-cli"
brew "bash"
brew "chezmoi"
brew "cmake"
brew "curl"
brew "fd"
brew "ffmpeg"
brew "superfly/tap/flyctl"
brew "fzf"
brew "graphicsmagick"
brew "graphviz"
brew "gnu-tar"
brew "hadolint"
brew "hey"
brew "html-xml-utils"
brew "htop"
brew "jq"
brew "k9s"
brew "lua"
brew "luarocks"
brew "mpv"
brew "neomutt"
brew "neovim"
brew "nmap"
brew "notmuch"
brew "oha"
brew "overmind"
brew "pandoc"
brew "pngcrush"
brew "pngpaste"
brew "rclone"
brew "ripgrep"
brew "saml2aws"
brew "shellcheck"
brew "source-highlight"
brew "speedtest-cli"
brew "telnet"
brew "terminal-notifier"
brew "tree"
brew "tmux"
brew "tmuxp"
brew "w3m"
brew "wget"
brew "youtube-dl"
brew "zsh"

# quicklook extensions
cask "gltfquicklook"
cask "provisionql"
cask "qladdict"
cask "qlcommonmark"
cask "qlstephen"
cask "quickgeojson"
cask "quicklook-csv"

# fonts
cask "font-fira-code-nerd-font"
cask "font-hack-nerd-font"

# cask apps
cask "1password-cli"

# mac app store
# removed under macOS monterey due to a bug
# https://github.com/mas-cli/mas/issues/417
{{- if (ne (output "sw_vers" "-productVersion" | trim) "12.0") }}
mas "iA Writer", id: 775737590
mas "Craft", id: 1487937127
mas "LINE", id: 539883307
mas "Paprika", id: 1303222628
mas "Parcel", id: 639968404
mas "Playgrounds", id: 1496833156
mas "Shazam", id: 897118787
mas "Tailscale", id: 1475387142
{{- end }}
EOF

xattr -r -d com.apple.quarantine ~/Library/QuickLook/*.qlgenerator
qlmanage -r

{{ end -}}
