{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/cask-fonts"
tap "benwebber/tunnelblickctl"
tap "d12frosted/emacs-plus"
tap "marcus-crane/tap"

# my own projects
brew "khinsider"
brew "spanner"

# cli tools
brew "autoconf"
brew "bash"
brew "bison"
brew "chezmoi"
brew "cmake"
brew "coreutils"
brew "curl"
brew "docker-credential-helper-ecr"
brew "emacs-plus@28", args: ["with-mailutils", "with-native-comp", "with-nobu417-big-sur-icon"]
brew "fd"
brew "ffmpeg"
brew "fzf"
brew "git"
brew "go-task/tap/go-task"
brew "golangci-lint"
brew "graphicsmagick"
brew "graphviz"
brew "gnu-tar"
brew "hadolint"
brew "hexyl"
brew "hey"
brew "html-xml-utils"
brew "htop"
brew "jq"
brew "libiconv"
brew "librdkafka"
brew "libxmlsec1"
brew "mpv"
brew "neomutt"
brew "nmap"
brew "notmuch"
brew "oha"
brew "openssl@1.1"
brew "overmind"
brew "pandoc"
brew "php@8.0"
brew "pngcrush"
brew "pngpaste"
brew "pwgen"
brew "rclone"
brew "ripgrep"
brew "saml2aws"
brew "shellcheck"
brew "source-highlight"
brew "speedtest-cli"
brew "telnet"
brew "terminal-notifier"
brew "tmuxp"
brew "tree"
brew "tunnelblickctl"
brew "vdirsyncer"
brew "w3m"
brew "watch"
brew "wget"
brew "wxmac"
brew "youtube-dl"
brew "zsh"

# install this after php is ready
brew "composer"

# quicklook extensions
cask "gltfquicklook"
cask "provisionql"
cask "qladdict"
cask "qlcommonmark"
cask "qlstephen"
cask "quickgeojson"
cask "quicklook-csv"

# fonts
cask "font-fira-code-nerd-font"
cask "font-hack-nerd-font"

# cask apps
# force is used here to overwrite any applications
# manually installed outside of brew. without force,
# these commands will fail otherwise
cask "1password-cli", args: { force: true }
cask "brave-browser", args: { force: true }
cask "calibre", args: { force: true }
cask "charles", args: { force: true }
cask "cleanshot", args: { force: true }
cask "discord", args: { force: true }
cask "goland", args: { force: true }
cask "gpg-suite-no-mail", args: { force: true }
cask "insomnia", args: { force: true }
cask "iterm2", args: { force: true }
cask "keka", args: { force: true }
cask "kekaexternalhelper", args: { force: true }
cask "macdown", args: { force: true }
cask "monodraw", args: { force: true }
cask "obs", args: { force: true }
cask "obsidian", args: { force: true }
cask "postgres-unofficial", args: { force: true }
cask "raycast", args: { force: true }
cask "sidequest", args: { force: true }
cask "slack", args: { force: true }
cask "spotify", args: { force: true }
cask "sublime-text", args: { force: true }
cask "ticktick", args: { force: true }
cask "trackerzapper", args: { force: true }
cask "vlc", args: { force: true }

# mac app store
mas "iA Writer", id: 775737590
mas "Craft", id: 1487937127
mas "Discovery", id: 1381004916
mas "Jira", id: 1475897096
mas "LINE", id: 539883307
mas "Paprika Recipe Manager 3", id: 1303222628
mas "Parcel", id: 639968404
mas "Playgrounds", id: 1496833156
mas "Shazam", id: 897118787
mas "Tailscale", id: 1475387142
# TestFlight is only available on macOS 12+
{{- if (ne (output "sw_vers" "-productVersion" | trim) "12.0") }}mas "TestFlight", id: 899247664{{ end }}

EOF

xattr -r -d com.apple.quarantine ~/Library/QuickLook/*.qlgenerator
qlmanage -r

# Used to fix a PHP compilation issue
ln -sf /Applications/Postgres.app/Contents/Versions/latest/bin/pg_config  /usr/local/bin/pg_config

{{ end -}}
