{{ if .termux -}}
#!/data/data/com.termux/files/usr/bin/bash
{{ else -}}
#!/usr/bin/env bash
{{ end -}}

set -euo pipefail

LUGH_BIN="${HOME}/.bin/lugh"
LUGH_VERSION="v0.0.3"
LUGH_ARCHIVE="lugh-{{ .chezmoi.os }}-${LUGH_VERSION}.tar.gz"
LUGH_URL="https://github.com/marcus-crane/lugh/releases/download/${LUGH_VERSION}/${LUGH_ARCHIVE}"

if [ ! -x "$LUGH_BIN" ]; then
  cd "$TMPDIR" && \
  wget -q $LUGH_URL -O lugh.tar.gz && \
  tar -xf lugh.tar.gz && \
  mkdir -p ~/.bin && \
  mv bin/lugh ~/.bin/ && \
  rm lugh.tar.gz && \
  rm -rf bin && \
  echo "~ lugh $VERSION has been installed"
fi

if [ -f /etc/arch-release ]; then
  sudo ln -sf /usr/lib/libpcre.so /usr/lib/libpcre.so.3
fi

SOURCE_PATH="{{ .chezmoi.sourceDir }}"

while IFS= read -r -d '' file; do
  if head -n 10 "$file" | grep -q "^output:"; then
    "$LUGH_BIN" -f "$file" && echo "~ $file has been tangled"
  fi
done < <(find "$SOURCE_PATH" -type f -name '*.md' -print0)
