#!/bin/bash

{{ $plugins := dict
  "aria2"      "1.35.0"
  "crystal"    "1.2.1"
  "exa"        "0.10.1"
  "gohugo"     "0.91.2"
  "golang"     "1.17.2"
  "lua"        "5.4.0"
  "neovim"     "0.6.1"
  "nodejs"     "17.0.1"
  "python"     "3.9.9"
  "rust"       "nightly"
  "shellcheck" "0.7.2"
  "sqlite"     "3.36.0"
  "tmux"       "3.2"
  "upx"        "3.96"
  "yarn"       "1.22.17"
}}

{{ $workMode := eq (output "sysctl" "-n" "hw.model" | trim) "MacBookPro16,4" }}

{{- if $workMode }}
  {{ $_ := set $plugins "ruby" "2.7.2" }}
  {{ $_ := set $plugins "terraform" "0.13.7" }}
{{ else }}
  {{ $_ := set $plugins "ruby" "3.0.2" }}
  {{ $_ := set $plugins "terraform" "1.0.10"}}
{{ end -}}

asdf update

{{ range sortAlpha (keys $plugins) -}}
  asdf plugin-add {{ . }} || true
  asdf install {{ . }} {{ get $plugins . }} || true
  asdf global {{ . }} {{ get $plugins . }} || true
{{ end -}}

# -- Globally installed packages -- #

{{ $goPackages := list
   "github.com/cweill/gotests/...@latest"
   "github.com/fatih/gomodifytags@latest"
   "github.com/go-delve/delve/cmd/dlv@latest"
   "github.com/golang/mock/mockgen@v1.6.0"
   "github.com/mdempsky/gocode@latest"
   "github.com/segmentio/golines@latest"
   "github.com/wailsapp/wails/v2/cmd/wails@latest"
   "github.com/x-motemen/gore/cmd/gore@latest"
   "golang.org/x/tools/cmd/goimports@latest"
   "golang.org/x/tools/cmd/guru@latest"
   "mvdan.cc/gofumpt@latest"
}}

{{ $npmPackages := list
   "@datadog/datadog-ci"
   "js-beautify"
   "neovim"
   "npm"
   "pkgparse"
   "pnpm"
   "stylelint"
   "tree-sitter-cli"
   "yarn"
}}

{{ $pythonPackages := list
   "ansible"
   "black"
   "Django"
   "flake8"
   "isort"
   "nose"
   "pip"
   "pipenv"
   "poetry"
   "pynvim"
}}

{{ $rubyPackages := list
   "bundler"
   "neovim"
}}

# --- Install packages --- #
{{ range sortAlpha $goPackages }}
  go install {{ . }}
{{ end -}}

{{ range sortAlpha $npmPackages -}}
  npm install -g {{ . }}
{{ end -}}

{{ range sortAlpha $pythonPackages -}}
  pip install -U {{ . }}
{{ end -}}

{{ range sortAlpha $rubyPackages }}
  gem install {{ . }}
{{ end -}}
