{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash

# Inspired by https://mths.be/macos with some digging by myself
# to see what still applies in macOS Big Sur

# Close any open System Preferences panes, to prevent them from overriding
# settings we’re about to change
osascript -e 'tell application "System Preferences" to quit'

# Ask for the administrator password upfront
sudo -v

# Keep-alive: update existing `sudo` time stamp until `.macos` has finished
while true; do sudo -n true; sleep 60; kill -0 "$$" || exit; done 2>/dev/null &

# ~~~~~ #

# I prefer to disable all "helpers" such as automatic capitalisation and so on
defaults write NSGlobalDomain NSAutomaticCapitalizationEnabled -bool false
defaults write NSGlobalDomain NSAutomaticDashSubstitutionEnabled -bool false
defaults write NSGlobalDomain NSAutomaticPeriodSubstitutionEnabled -bool false
defaults write NSGlobalDomain NSAutomaticQuoteSubstitutionEnabled -bool false
defaults write NSGlobalDomain NSAutomaticSpellingCorrectionEnabled -bool false

# Show me file extensions out of the box
defaults write NSGlobalDomain AppleShowAllExtensions -bool true

# I don't want .DS_Store files on USB devices or network devices
defaults write com.apple.desktopservices DSDontWriteNetworkStores -bool true
defaults write com.apple.desktopservices DSDontWriteUSBStores -bool true

# Column view is my preferred style when using Finder
defaults write com.apple.finder FXPreferredViewStyle "clmv"

# Open Finder to my home directory by default
defaults write com.apple.finder NewWindowTarget -string "PfHm"
defaults write com.apple.finder NewWindowTargetPath -string "file://${HOME}/"

# Show absolute path in Finder
defaults write com.apple.finder _FXShowPosixPathInTitle -bool true

# Don't try to reopen windows when logging back in / restarting
defaults write com.apple.loginwindow TALLogoutSavesState -bool false

# Disable Quick Note which is set by default on macOS Monterey and above
defaults write com.apple.dock wvous-tr-corner -int 0

# Disable Safari autofill
defaults write com.apple.Safari AutoFillFromAddressBook -bool false
defaults write com.apple.Safari AutoFillPasswords -bool false
defaults write com.apple.Safari AutoFillCreditCardData -bool false
defaults write com.apple.Safari AutoFillMiscellaneousForms -bool false

# Only use Plain Text for TextEdit documents
defaults write com.apple.TextEdit "RichText" -bool false

# Don't try to quarantine downloaded applications
defaults write com.apple.LaunchServices "LSQuarantine" -bool false

# Always save to disk over iCloud
defaults write NSGlobalDomain "NSDocumentSaveNewDocumentsToCloud" -bool false

# Hide thumbnails when taking a screenshot
defaults write com.apple.screencapture "show-thumbnail" -bool false

# Place screenshots in ~/Pictures/Screenshots
defaults write com.apple.screencapture "location" -string "~/Screenshots"

# Don't show recently opened applications in Dock
defaults write com.apple.dock "show-recents" -bool false

# Autohide Dock
defaults write com.apple.dock "autohide" -bool true

# Set Dock to a relatively small size
defaults write com.apple.dock tilesize -int 30

# Add ability to drag windows with Ctrl + Cmd + <drag>
# https://mmazzarolo.com/blog/2022-04-16-drag-window-by-clicking-anywhere-on-macos/
defaults write -g NSWindowShouldDragOnGesture -bool true

# Enable Developer Tools for some Webviews
defaults write NSGlobalDomain WebKitDeveloperExtras -bool true
defaults write -g WebKitDeveloperExtras -bool YES

# Kill affected applications
    for app in "cfprefsd" \
        "ControlCenter" \
        "Dock" \
        "Finder" \
        "SystemUIServer"; do
        killall "${app}"  > /dev/null 2>&1
    done

echo "~ system preferences have been configured (some entries might require a restart)"
{{ end -}}
