#!/bin/bash

{{ $ghExtensions := list
  "mislav/gh-branch"
  "vilmibm/gh-screensaver"
  "vilmibm/gh-user-status"
}}

{{ range sortAlpha $ghExtensions }}
  gh extension install {{ . }} > /dev/null 2>&1 || true
{{ end -}}

echo "~ github cli extensions have been installed"