{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash

echo "~ homebrew"

brew bundle --quiet --no-lock --file=/dev/stdin <<EOF && echo "~~ brew packages have been updated"

# Official taps
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"

# Community taps
tap "railwaycat/emacsmacport"
tap "espanso/espanso"
tap "go-task/tap"
tap "yt-dlp/taps"

# my own projects
tap "marcus-crane/tap"
brew "khinsider"
brew "spanner"

# cli tools
brew "angle-grinder"
brew "autoconf"
brew "automake"
brew "bash"
brew "bat"
brew "bison"
brew "cmake"
brew "comby"
brew "coreutils"
brew "create-dmg"
brew "curl"
brew "dbus"
brew "docker-credential-helper-ecr"
brew "emacs-mac", args: ["with-emacs-big-sur-icon", "with-imagemagick", "with-native-compilation", "with-natural-title-bar", "with-dbus", "with-glib", "with-librsvg"]
brew "entr"
brew "fd"
brew "ffmpeg"
brew "flyctl"
brew "fzf"
brew "gh"
brew "git"
brew "glow"
brew "go-task"
brew "golangci-lint"
brew "graphicsmagick"
brew "graphviz"
brew "gron"
brew "gnu-tar"
brew "hexyl"
brew "hey"
brew "hidapi"
brew "html-xml-utils"
brew "htop"
brew "hyperfine"
brew "imagemagick"
brew "jansson"
brew "jq"
brew "libiconv"
brew "librdkafka"
brew "libxmlsec1"
brew "mpv"
brew "neomutt"
brew "nmap"
brew "notmuch"
brew "oha"
brew "onefetch"
brew "openssl@1.1"
brew "overmind"
brew "pandoc"
brew "php@8.0"
brew "pngcrush"
brew "pngpaste"
brew "protobuf"
brew "pwgen"
brew "rclone"
brew "ripgrep"
brew "source-highlight"
brew "speedtest-cli"
brew "telnet"
brew "terminal-notifier"
brew "texinfo"
brew "transmission-cli"
brew "tmuxp"
brew "tree"
brew "vdirsyncer"
brew "vpn-slice"
brew "w3m"
brew "watch"
brew "webp"
brew "wget"
brew "wxwidgets"
brew "xz"
brew "yt-dlp"
brew "z"
brew "zsh"

# install this after php is ready
brew "composer"

# quicklook extensions
cask "gltfquicklook"
cask "provisionql"
cask "qladdict"
cask "qlcommonmark"
cask "qlstephen"
cask "quickgeojson"
cask "quicklook-csv"

# fonts
cask "font-fira-code-nerd-font"
cask "font-hack-nerd-font"

# cask apps
# force is used here to overwrite any applications
# manually installed outside of brew. without force,
# these commands will fail otherwise
cask "calibre", args: { force: true }
cask "charles", args: { force: true }
cask "cleanshot", args: { force: true }
cask "dbngin", args: { force: true }
cask "discord", args: { force: true }
cask "espanso", args: { force: true }
cask "flycut", args: { force: true }
cask "goland", args: { force: true }
cask "gpg-suite-no-mail", args: { force: true }
cask "insomnia", args: { force: true }
cask "iterm2", args: { force: true }
cask "keka", args: { force: true }
cask "kekaexternalhelper", args: { force: true }
cask "obsidian", args: { force: true }
cask "postgres-unofficial", args: { force: true }
cask "plexamp", args: { force: true }
cask "pycharm", args: { force: true }
cask "raycast", args: { force: true }
cask "sidequest", args: { force: true }
cask "slack", args: { force: true }
cask "sublime-text", args: { force: true }
cask "tableplus", args: { force: true }
cask "ticktick", args: { force: true }
cask "trackerzapper", args: { force: true }
cask "transmission", args: { force: true }
cask "vlc", args: { force: true }

# mac app store
mas "iA Writer", id: 775737590
mas "Book Track", id: 1496543317
mas "Crouton", id: 1461650987
mas "Parcel", id: 639968404
mas "Shazam", id: 897118787
mas "Tailscale", id: 1475387142

# TestFlight is only available on macOS 12+
{{- if (ne (output "sw_vers" "-productVersion" | trim) "12.0") }}mas "TestFlight", id: 899247664{{ end }}

EOF

/usr/bin/xattr -r -d com.apple.quarantine ~/Library/QuickLook/*.qlgenerator
qlmanage -r >/dev/null 2>&1 || true && echo "~~ quicklook extensions have been configured"

# Used to fix a PHP compilation issue
# ln -sf /Applications/Postgres.app/Contents/Versions/latest/bin/pg_config  /usr/local/bin/pg_config

{{ end -}}
