font-family = "JetBrainsMono Nerd Font Mono"
font-size = {{ if (eq .chezmoi.os "linux") }}10{{ else }}12{{ end }}
command = zsh --login --interactive

theme = catppuccin-macchiato
shell-integration-features = sudo
