Host *
  ControlMaster auto
  ControlPath /tmp/SSH-%r-%n-%p
  ControlPersist 720
  ServerAliveInterval 30
  ServerAliveCountMax 3
  AddKeysToAgent yes
  UseKeychain yes
  StrictHostKeyChecking no
  PreferredAuthentications=publickey

Host netocean
  HostName 192.168.1.111
  User marcus

Host izumo
  HostName 192.168.1.244
  User marcus

{{ if eq (output "sysctl" "-n" "hw.model" | trim) "MacBookPro16,4" -}}
Include ~/Code/work/home/.ssh/config
{{- end }}
