Host *
  ControlMaster auto
  ControlPath ~/.ssh-sockets/%r
  ControlPersist 600
  ServerAliveInterval 30
  ServerAliveCountMax 3
  AddKeysToAgent yes
  UseKeychain yes
  Compression yes

{{- $rawPaT := (onepassword "kyftkfkjyauqyz4ycq4nppr7jy").details.password }}
{{- $workConfigPath := (onepassword "zwfqkblgcczne3alxf6orsh5uy").details }}
{{- $authHeader := (cat "Authorization: token" $rawPaT) }}
{{ $fileURL := (index (index (onepassword "zwfqkblgcczne3alxf6orsh5uy").details.sections 0).fields 0).v }}
{{ output "curl" "-H" $authHeader $fileURL }}