{{ if .workmode -}}
Include ~/Code/work/home/.ssh/config
{{- end }}

Host *
  ControlMaster auto
  ControlPath /tmp/SSH-%C
  ControlPersist 720
  ServerAliveInterval 30
  ServerAliveCountMax 3
  AddKeysToAgent yes
  {{- if (eq .chezmoi.os "darwin") -}}
  UseKeychain yes
  {{- end}}
  StrictHostKeyChecking no
  PreferredAuthentications=publickey
  {{ if .workmode -}}
  User marcus.crane
  {{- end }}

Host netocean
  HostName 192.168.1.111
  User marcus

Host izumo
  HostName 192.168.1.244
  User marcus

