[general]
status_path = "~/.vdirsyncer/status/"

[pair calendar]
a = "local"
b = "remote"
collections = ["from a", "from b"]
metadata = ["color", "displayname"]
conflict_resolution = "b wins"

[storage local]
type = "filesystem"
path = "~/.calendars/"
fileext = ".ics"

[storage remote]
type = "caldav"
url = "https://caldav.fastmail.com/dav/principals/user/{{ .email }}/"
username = "{{ .email }}"
password = "{{ onepasswordRead "op://dotfiles/Chezmoi Fastmail/password" "my" }}"