connection "confluence" {
    plugin    = "ellisvalentiner/confluence"

    # Base URI of your Confluence Cloud instance
    base_url = "{{ onepasswordRead "op://Private/Atlassian Steampipe/url" "lightspeedhq" }}"

    # The user name to access the Confluence cloud instance
    username = "{{ .work.email }}"

    # Access Token for the API
    # See https://id.atlassian.com/manage/api-tokens
    token = "{{ onepasswordRead "op://Private/Atlassian Steampipe/credential" "lightspeedhq" }}"
}
