connection "datadog" {
  plugin = "datadog"

  # Get your API key from https://app.datadoghq.com/organization-settings/api-keys
  # Steampipe will resolve the API key in below order:
  #   1. The "api_key" specified here in the config
  #   2. The `DD_CLIENT_API_KEY` environment variable
  api_key = "{{ onepasswordRead "op://Private/Datadog API Key/username" "lightspeedhq" }}"

  # Get your application key from https://app.datadoghq.com/organization-settings/application-keys
  # Steampipe will resolve the application key in below order:
  #   1. The "app_key" specified here in the config
  #   2. The `DD_CLIENT_APP_KEY` environment variable
  app_key = "{{ onepasswordRead "op://Private/Datadog API Key/password" "lightspeedhq" }}"

  # The API URL. By default it is pointed to "https://api.datadoghq.com/"
  # If working with the EU version of Datadog, use "https://api.datadoghq.eu/"
  # Please note that this URL must not end with the /api/ path.
  api_url = "https://api.datadoghq.com/"
}
