connection "jira" {
  plugin = "jira"

  # The baseUrl of your Jira Instance API
  base_url = "{{ onepasswordRead "op://Private/Atlassian Steampipe/url" "lightspeedhq" }}"

  # The user name to access the jira cloud instance
  username = "{{ .work.email }}"

  # Access Token for which to use for the API
  token = "{{ onepasswordRead "op://Private/Atlassian Steampipe/credential" "lightspeedhq" }}"
}
