aria2      1.35.0
gohugo     0.79.1
golang     1.16beta1
helm       3.4.1
lua        5.4.1
neovim     stable
nodejs     15.3.0
python     3.9.1
ruby       2.7.2
rust       1.48.0
shellcheck 0.7.1
sqlite     3.33.0
terraform  0.14.3
tmux       3.1
