aria2      1.35.0
clojure    1.10.2.774
crystal    1.1.1
elixir     1.12.1
erlang     24.0.3
gohugo     0.87.0
golang     1.17
helm       3.6.3
kubectl    1.22.1
lua        5.4.3
neovim     0.5.0
nodejs     16.7.0
perl       5.24.0
python     3.9.5
ruby       3.0.1
rust       1.54.0
shellcheck 0.7.2
sqlite     3.36.0
terraform  0.15.4
tmux       3.2
yarn       1.22.10
