# espanso match file

# For a complete introduction, visit the official docs at: https://espanso.org/docs/

# You can use this file to define the base matches (aka snippets)
# that will be available in every application when using espanso.

# Matches are substitution rules: when you type the "trigger" string
# it gets replaced by the "replace" string.
matches:
  - trigger: ":gpp"
    replace: "git push"

  - trigger: ":gpo"
    replace: "git push origin"
  
  - trigger: ":em"
    replace: "{{ .email }}"
  
  - trigger: ":wem"
    replace: "{{ .work.email }}"

  # And much more! For more information, visit the docs: https://espanso.org/docs/